<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SendMailServlet</servlet-name>
        <servlet-class>com.coincare.servlets.SendMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>com.coincare.servlets.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.coincare.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.coincare.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.coincare.servlets.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPasswordServlet</servlet-name>
        <servlet-class>com.coincare.servlets.NewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.coincare.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.coincare.servlets.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleChangeServlet</servlet-name>
        <servlet-class>com.coincare.servlets.SingleChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpenseServlet</servlet-name>
        <servlet-class>com.coincare.servlets.ExpenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfilePhotoServlet</servlet-name>
        <servlet-class>com.coincare.servlets.UpdateProfilePhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.coincare.servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncomeServlet</servlet-name>
        <servlet-class>com.coincare.servlets.IncomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMailServlet</servlet-name>
        <url-pattern>/SendMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/ForgetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPasswordServlet</servlet-name>
        <url-pattern>/NewPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleChangeServlet</servlet-name>
        <url-pattern>/SingleChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpenseServlet</servlet-name>
        <url-pattern>/ExpenseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfilePhotoServlet</servlet-name>
        <url-pattern>/UpdateProfilePhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncomeServlet</servlet-name>
        <url-pattern>/IncomeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
      30
    </session-timeout>
    </session-config>
</web-app>
